* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: #141A26;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header, .navbar, .about, .contact {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header and Navigation */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
  background-color: #0d0c0c16;
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box; 
}
.logo {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: transform 0.3s ease; 
}

.logo:hover { 
  transform: scale(1.1);
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

.navbar {
  display: flex;
  list-style: none; 
  margin: 0; 
}

.navbar li {
  margin-left: 20px; 
}

.navbar a {
  color: var(--text-color);
  text-decoration: none; 
  position: relative; 
  padding-bottom: 5px; 
}

/* Add the underline animation */
.navbar a::after {
  content: '';
  display: block;
  height: 2px;
  background: var(--main-color); 
  width: 0; 
  transition: width 0.3s ease;
  position: absolute; 
  left: 0; 
  bottom: -2px; 
}

/* Hover Effect */
.navbar a:hover::after {
  width: 100%; 
}

.navbar a:hover {
  color: var(--main-color); 
}
/* General Styles */
section {
  min-height: auto;
  padding: 4rem 3% 4rem;
  flex-wrap: wrap;
}

.home {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
}

span {
  color: var(--main-color);
}

.logo span {
  color: var(--main-color);
}

.home-content h3 {
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 3.5rem; 
}

.home-content h1 {
  font-size: 5rem; 
  font-weight: 700;
  margin-top: 1rem;
  line-height: 1;
}

.home-content p {
  font-size: 1.1rem; 
  line-height: 1.5;
  max-width: 1000px;
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem; 
  margin-top: 20px;
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1rem; 
  color: #000;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.btn-group a:nth-of-type(2) {
  background-color: #000;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: #000;
}

.text-animation {
  font-size: 20px; 
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.5s infinite, typing 10s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid var(--main-color);
  }
}

@keyframes words {
  0%, 20% {
    content: "Web Developer";
  }
  21%, 40% {
    content: "Web Designer";
  }
}

  
/* About Me Section */
.About {
  padding: 60px;
  background-color:var(--bg-color);
}

.aboutme {
  display: flex;
  flex-direction: row-reverse;
  padding: 40px;
  border-radius: 8px;
}

.aboutme-description {
  flex: 1;
}

.aboutme h3 {
  font-size: 1.6rem;
  text-align: left;
}
.aboutme h3 span {
  color: white; 
}

.aboutme h3 {
  color: var(--main-color); 
}
.aboutme-description p {
  font-size: 1rem; 
  margin-top: 5rem;
  line-height: 1.5;
}
.aboutme-img {
  flex: 1;
  padding-left: 2rem;
}

.aboutme-img img {
  width: 80%;
  height: auto;
  max-height: 20rem;
  border-radius: 30px;
  object-fit: cover;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4 ease-in-out;
}

.aboutme-img img:hover {
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}



.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}
.skill-bar{
  margin-bottom: 1rem;
  width: 50%;
}
.skill-left h3 {
  margin-bottom: 2rem;
  font-size: 20px;
  text-align: left;
  color: #00ffee;
}
.skill-left .skill-bar .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.skill-left .skill-bar .bar{
  width: 100%;
  height: 10px;
  background-color: var(--second-bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}
.skill-bar .bar span {
  width: 0%; 
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--main-color);
  border-radius: 25px;
  box-shadow: var(--main-color);
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}

.skill-bar .bar .react{
  width: 50%;
  animation: react 2s;
}
.skill-bar .bar .figma{
  width: 60%;
  animation: figma 3s;
}
.skill-bar .bar .css{
  width: 45%;
  animation: css 4s;
}
@keyframes skill-animation {
  from {
    width: 0%; 
  }
  to {
    width: 50%; 
  }
}

@keyframes skill-animation-figma {
  from {
    width: 0%; 
  }
  to {
    width: 60%; 
  }
}

@keyframes skill-animation-css {
  from {
    width: 0%; 
  }
  to {
    width: 45%; 
  }
}


/* Add infinite animation */
.skill-bar .bar .react {
  animation: skill-animation 5s infinite ; 
}
.skill-bar .bar .figma {
  animation: skill-animation-figma 5s infinite; 
}
.skill-bar .bar .css {
  animation: skill-animation-css 5s infinite ; 
}



/* Projects Section */
.projects {
  position: relative;
  background: var(--second-bg-color);
  padding: 11rem;
  text-align: center;
}

.projects h2 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
  z-index: 1;
}

.projects-grid {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap;
  gap: 5rem; 
  margin-top: 4rem; 
}

.wrapper img {
 width: 100%;
  height: 300px; 
  border-radius: 15px;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  transition: transform 0.3s ease;
}


.wrapper img:hover {
  transform: scale(1.05);
}

/* Contact Section Styles */
.contact {
  text-align: center;
  padding: 15rem;
  background: var(--bg-color); 
}

.contact h2 {
  font-size: 30px;
  margin-bottom: 4rem;
}
.contact p{
  font-size: 20px;
}
.contact-icons {
  display: flex;
  justify-content: center; 
  margin-top: 5rem; 
}

.contact-icons a {
  margin: 0 15px; 
  color: var(--main-color);
}

.contact-icons img {
  width: 40px; 
  height: 40px; 
  transition: transform 0.3s ease; 
}

.contact-icons img:hover {
  color: var(--text-color);
  transform: scale(1.1)translateY(-5px);
 
}

 /* Responsive Design */
@media (max-width: 768px) {
  header {
      padding: 20px;
      flex-direction: row;
  }

  .navbar {
      flex-direction: row;
      margin-top: 10px;
  }

  .home-content h1 {
    font-size: 4rem;
  }

  .home-content h3 {
    font-size: 2.5rem;
  }

  .btn {
    padding: 0.8rem 2rem;
    font-size: 0.9rem;
  }

  .aboutme-img img {
    width: 50%;
  }
  .contact-icons{

    padding: 1rem;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    padding: 15px;
  }

  .navbar a {
    margin-left: 1rem;
    font-size: 0.9rem;
  }

  .home-content h1 {
    font-size: 2.5rem;
  }

  .home-content h3 {
    font-size: 1.8rem;
  }

  .btn {
    padding: 0.6rem 1.5rem;
    font-size: 0.7rem;
  }

  .aboutme-img img {
    width: 70%;
  }

  .skill-main {
    grid-template-columns: 1fr;
  }
 
}

